---
domain: ds.zalora.com
contact: datascience@zalora.com
# The urls needs to exist in the Google Cloud Console for the given client_id or
# Google will refuse to redirect to it.
urls:
  - https://redsift.ds.zalora.com/
  - https://buying-xml2csv.ds.zalora.com/
# The client ID and client secret come from Google's "Cloud Console".
client_id: 668874393930-74ai26p8jqgb3m83qll3qlp4vn0h1nny.apps.googleusercontent.com
client_secret: /run/keys/sproxy/client_secret
# The auth token key should have a minimum of 160 bits of randomness.
# `openssl rand -base64 160` is a good candidate
auth_token_key: /run/keys/sproxy/auth_token_key
ssl_key: server.key
# Include extra (intermediate) certs in a single file. Make sure that they're sorted from server downward, i.e.:
# -----BEGIN CERTIFICATE-----
#    (server certificate)
# -----END CERTIFICATE-----
# -----BEGIN CERTIFICATE-----
#  (intermediate certificate)
# -----END CERTIFICATE-----
# -----BEGIN CERTIFICATE-----
#  (optional CA certificate)
# -----END CERTIFICATE-----
ssl_certs: server-combined.crt

# PostgreSQL database (connection string)
database: "hostaddr=127.0.0.1 user=sproxy dbname=sproxy"
# To initialize/populate the DB, see sproxy.sql.
