domain = ds.zalora.com
contact = datascience@zalora.com
# The url needs to exist in the Google Cloud Console for the given client_id or Google will refuse to redirect to it.
url = https://redsift.ds.zalora.com/
client_id = 668874393930-74ai26p8jqgb3m83qll3qlp4vn0h1nny.apps.googleusercontent.com
client_secret = DwgoboC9qASSt6n7UNW31Lpi
# The auth token key should have a minimum of 160 bits of randomness.
# `openssl rand -base64 160` is a good candidate
auth_token_key = RK/c8tN13Butkt1izh5oZIAzxeDfvG9UA8Cd766GQcUjSLjdS5OH+SQEYXPSNyjdVvyehJIMnSr3cut6rbU+zbzulxquQtHvQ0wIlJCtgoH7Vqof156OKklF+xw7hKpt8HyAG7/AkQ9WgioPGKaGCX35XjEsZrCwqu9a/DAvrfOAwkLka/lNQD++QskmNpy/29aGtGnq0kkafUX+IoiteA==
authorized_emails = chris.forno@zalora.com example.user@gmail.com