-----BEGIN CERTIFICATE-----
MIIB/TCCAWYCCQDVQ4XMyBgh4zANBgkqhkiG9w0BAQUFADBDMQswCQYDVQQGEwJT
RzEbMBkGA1UECgwSWkFMT1JBIFNFQSBQVEUgTFREMRcwFQYDVQQDDA5kZXYuemFs
b3JhLmNvbTAeFw0xNDA0MDgwOTM4MjBaFw0xNTA0MDgwOTM4MjBaMEMxCzAJBgNV
BAYTAlNHMRswGQYDVQQKDBJaQUxPUkEgU0VBIFBURSBMVEQxFzAVBgNVBAMMDmRl
di56YWxvcmEuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDnB8VAatB1
obhM13b4tOsoTk9DNuvGIDxSFByGa1jwWYEpk/Egy8Ldwyal0mD98NEtnhXTcp+5
mJ25ix+0o9ktBedANye1bter2J2Q7NnbWlr0ltWMnw6FMdF8kahnS2YKaDf765QT
mpJ55VN0I0LZi5UkhIa/i6XF1Zej6U8zmQIDAQABMA0GCSqGSIb3DQEBBQUAA4GB
AM8L0/e/jMZSsS/g8f4NUHtIYDFDoWIARVpTaCw5btIhBQ1Kf0Agq3cwX9xC6OlG
ZskWYV36gkX7qHce+RxahDlJ905iM5owYstbG2/3eXQl0d0Kph/dX+c8LS3uusEt
y94qB4hnSit/9B+59haj4nvC3YADXnelTyk4s2FvXtKn
-----END CERTIFICATE-----
