log_level: debug

# syslog / stderr
# Default is stderr.
# log_target: stderr

# The port sproxy listens on (this is always HTTPS).
# Default is 443
# listen: 443

# User to run as.
# If launched with root privileges, sproxy will switch
# to this user after openning the ports (443 and 80).
# Default is "sproxy"
# user: sproxy

# yes / no
# If 'yes', sproxy will open port 80 and redirect HTTP requests
# to the above listen port. Default is "yes" if listen is 443
# redirect_http_to_https: yes

cookie_domain: dev.zalora.com
cookie_name: sproxy-dev

# The client ID and client secret come from Google's "Cloud Console".
client_id: a611zak494jxdgdn6ltlkn547rme91ig.apps.googleusercontent.com
client_secret: config/client_secret

ssl_key: config/server.key.example

# Include extra (intermediate) certs in a single file. Make sure that they're sorted from server downward, i.e.:
# -----BEGIN CERTIFICATE-----
#    (server certificate)
# -----END CERTIFICATE-----
# -----BEGIN CERTIFICATE-----
#  (intermediate certificate)
# -----END CERTIFICATE-----
# -----BEGIN CERTIFICATE-----
#  (optional CA certificate)
# -----END CERTIFICATE-----
ssl_certs: config/server.crt.example

# PostgreSQL database connection string
database: "user=you dbname=sproxy"

# To initialize/populate the DB, see sproxy.sql.

# Which backend should sproxy relay the requests to?
# Default is 127.0.0.1:8080, ignored if backend_socket is set
# backend_address: "127.0.0.1"
# backend_port: 8080

# If specified, connect to this UNIX-socket instead of TCP
# backend_socket: "/tmp/foo.sock"

